:root {
  --branding-color: rgb(124, 185, 211);
  --secondary-color: #e5eef6;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", san-serif;
}

body {
  font-family: var(--default-font-family);
  background: rgb(75, 120, 139);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-colums {
  grid-template-columns: 1fr 1fr;
  margin-right: 40px;
}

.grid-3-colums-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  max-width: 120%;
  display: block;
}

.img-responsive-a {
  max-width: 120%;
  display: block;
   height: 137px;
}


.embed {
   width: 105%;
   aspect-ratio: 1 /1;
   margin-left: 32px;
   height: 137px;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background-color: #d6ebf3;
  margin: 30px 0;
}

.card-header.grid {
grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 20px 20px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #38758d;
  text-decoration: none;
}

section {
  max-width: 100%;
  padding: 20px;
}

section.secondary {
  background: #cde0e9;
}

.img {
  margin-left: 30px;
  max-width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(233, 238, 241);
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  color: #79b3dd;
  font-family: var(--heading-font-family);
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: rgb(197, 220, 236);
  text-decoration: none;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background-color: #d6ebf3;
  padding: 70px 0;
}



main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #236782;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #38758d;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #38758d;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #38758d;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

footer {
  color: rgb(108, 182, 216);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/building.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

footer p {
  color: #d6ebf3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #55a1bf;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px 0;
  }

  .card-header img {
    display: none;
  }

  .embed {
   width: 100%;
}
}
